<div class="currency-section">
    <div class="currency-type">
        <i class="currency gp" data-tooltip="Gold"></i>
        <input type="text" name="gold" value="{{system.currency.gold}}" class="currency-input">
    </div>
    <div class="currency-type">
        <i class="currency sp" data-tooltip="Silver"></i>
        <input type="text" name="silver" value="{{system.currency.silver}}" class="currency-input">
    </div>
    <div class="currency-type">
        <i class="currency cp" data-tooltip="Copper"></i>
        <input type="text" name="copper" value="{{system.currency.copper}}" class="currency-input">
    </div>
</div>