<div class="celestus roll description">
    <header class="message-header">
        <img class="actor-img" src="{{ownerPortrait}}" data-tooltip="{{owner}}" />
        <span class="speaker-info">
            <div class="author">{{owner}}</div>
            <div class="user">{{user}}</div>
        </span>
    </header>


    {{> "systems/celestus/templates/rolls/item-parts/armor-description.hbs"}}
</div>